@model BugTracker.Models.TicketPriority

@{
    ViewBag.Title = "CreateTicketPriority";
}

<h2>Create TicketPriority</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Ticket Priority</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="submitButton" />
            </div>
        </div>
    </div>
}

<button class="submitButton" type="button">
    <p class="link">
        @Html.ActionLink("Back To Inedx Page", "Index", "Admins", null, new { style = "color: white;text-decoration:none" })
    </p>
</button>
<button class="submitButton" type="button">
    <p class="link">
        @Html.ActionLink("Back to all tickets", "AllTickets", "Tickets", null, new { style = "color: white;text-decoration:none" })
    </p>
</button>