@model List<BugTracker.Models.ApplicationUser>
@{ ViewBag.Title = "ShowAllUsers"; }

<h2>Show All Users</h2>

<table class="table">
    <tr>
        <th>
            UserName
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>
                <button class="submitButton" type="button">
                    <p class="link"> @Html.ActionLink("Get All Roles", "GetAllRolesForUser", null, new { style = "color: white;text-decoration:none" }) </p>
                </button>
                <button class="submitButton" type="button">
                    <p class="link"> @Html.ActionLink("Assign Role", "AssignUserToRole", null, new { style = "color: white;text-decoration:none" }) </p>
                </button>
                <button class="submitButton" type="button">
                    <p class="link"> @Html.ActionLink("UnAssign Role", "UnAssignUserFromRole", null, new { style = "color: white;text-decoration:none" }) </p>
                </button>
            </td>
        </tr>
    }

</table>

<button class="submitButton" type="button" ">
    <p class="link">
        @Html.ActionLink("Back To Inedx Page", "Index", "Admins", null, new { style = "color: white;text-decoration:none" })
    </p>
</button>

