@model IPagedList<BugTracker.Models.Ticket>

@{
    ViewBag.Title = "AllTickets";
}

@using PagedList;
@using PagedList.Mvc;

<h2>AllTickets</h2>
<br />

<div class="navigate">
    <div class="nav1">
        @if (ViewBag.Roles.Contains("Submitter"))
        {
            <div class="creat">
                <button class="submitButton" type="button">
                    <p class="link">
                        @Html.ActionLink("Create New Ticket", "Create", "Tickets", null, new { style = "color: white;text-decoration:none" })
                    </p>
                </button>
            </div>
        }
        @if (ViewBag.Roles.Contains("Project Manager") || ViewBag.Roles.Contains("Admin"))
        {
            <div class="creat">
                <button class="submitButton" type="button">
                    <p class="link">
                        @Html.ActionLink("Create New Project", "Create", "Projects", null, new { style = "color: white;text-decoration:none" })
                    </p>
                </button>
            </div>
        }
        <div class="creat">
            <button class="submitButton" type="button">
                <p class="link">
                    @Html.ActionLink("View All Your Projects", "AllProjects", "Projects", null, new { style = "color: white;text-decoration:none" })
                </p>
            </button>
        </div>
    </div>
    <div class="nav2">
        <div class="dList" style="padding-top:15px;margin:20px;">
            <p class="dListTitle" style="font-size:15px;padding-top:5px;"><b>Sort by: </b></p>
            <div class="dropdown">
                <button class="dropbtn2"><i class="fas fa-caret-square-down fa-2x"></i></button>
                <div class="dropdown-content-two">
                    <a class="" href="@Url.Action("SortTickets", "Tickets", new { sortBy = "type" })">TYPES</a>
                    <a class="" href="@Url.Action("SortTickets", "Tickets", new { sortBy = "status" })">STATUS</a>
                    <a class="" href="@Url.Action("SortTickets", "Tickets", new { sortBy = "priority" })">PRIORITY</a>
                    <a class="" href="@Url.Action("SortTickets", "Tickets", new { sortBy = "creation" })">CREATION</a>
                    <a class="" href="@Url.Action("SortTickets", "Tickets", new { sortBy = "update" })">RECENTLY</a>
                    <a class="" href="@Url.Action("SortTickets", "Tickets", new { sortBy = "title" })">TITLE</a>
                    <a class="" href="@Url.Action("SortTickets", "Tickets", new { sortBy = "owner" })">OWNER</a>
                    <a class="" href="@Url.Action("SortTickets", "Tickets", new { sortBy = "developer" })">DEVELOPER</a>
                    <a class="" href="@Url.Action("SortTickets", "Tickets", new { sortBy = "project" })">PROJECT</a>
                </div>
            </div>
        </div>
        <div class="notification">
            <div class="one" style="padding-top:20px;margin:20px;">
                <a href="@Url.Action("Index", "Notifications", new { style = "color: white;text-decoration:none;margin-left:100%" })" style="font-size:20px">
                    <i class="fa fa-bell"></i>(@ViewBag.NotificationCount)
                </a>
            </div>
        </div>
        <br />
        <div class="radiobuttons">
            @using (Html.BeginForm("SearchTickets", "Tickets", FormMethod.Get))
            {
                <div class="rbuttons">
                    <p><b>Search Options:</b></p>
                    <div class="dropdown">
                        <button class="dropbtn3"><i class="fas fa-caret-square-down fa-2x"></i></button>
                        <div class="dropdown-content-thr">
                            <div>
                                @Html.RadioButton("option", "AllTickets")<text>AllTickets </text>
                            </div>
                            <div>
                                @Html.RadioButton("option", "Project")<text>Project </text>
                            </div>
                            <div>
                                @Html.RadioButton("option", "Priority")<text>Priority </text>
                            </div>
                            <div>
                                @Html.RadioButton("option", "Status")<text>Status </text>
                            </div>
                            <div>
                                @Html.RadioButton("option", "Type")<text>Type </text>
                            </div>
                            <div>
                                @Html.RadioButton("option", "Title")<text>Title </text>
                            </div>
                            <div>
                                @Html.RadioButton("option", "Description")<text>Description </text>
                            </div>
                            <div>
                                @Html.RadioButton("option", "Submitter")<text>Submitter </text>
                            </div>
                            <div>
                                @Html.RadioButton("option", "Developer")<text>Developer </text>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="rsearch">
                    @Html.TextBox("searchBy")
                    <input type="submit" name="submit" value="SearchTickets" class="submitButton" />
                </div>
            }
        </div>
    </div>
</div>
<br />
<table class="table">
    <tr>
        <th>
            @Html.DisplayName("Developer Email")
        </th>
        <th>
            @Html.DisplayName("Submitter Email")
        </th>
        <th>
            @Html.DisplayName("Project Name")
        </th>
        <th>
            @Html.DisplayName("Ticket Priority")
        </th>
        <th>
            @Html.DisplayName("Ticket Status")
        </th>
        <th>
            @Html.DisplayName("Ticket Type")
        </th>
        <th>
            @Html.DisplayName("Ticket Title")
        </th>
        <th>
            @Html.DisplayName("Ticket Description")
        </th>
        <th>
            @Html.DisplayName("Date Created")
        </th>
        <th>
            @Html.DisplayName("Date Updated")
        </th>
        <th>
            @Html.DisplayName("Comments")
        </th>
        <th>
            @Html.DisplayName("Attachments")
        </th>
        <th>
            @Html.DisplayName("Menu")
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.AssignedToUser.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OwnerUser.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Project.Name)
            </td>
            <td style="color:white" )>
                <div class="tag">@Html.DisplayFor(modelItem => item.TicketPriority.Name)</div>
            </td>
            <td style="color:white" )>
                <div class="tag">@Html.DisplayFor(modelItem => item.TicketStatus.Name)</div>
            </td>
            <td style="color:white" )>
                <div class="tag"> @Html.DisplayFor(modelItem => item.TicketType.Name)</div>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Created)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Updated)
            </td>
            <td>
                @foreach (var comment in item.TicketComments)
                {
                    <div class="">
                        <p>@comment.Comment, Date:@comment.Created.ToString("d")</p>
                    </div>
                }
                <br />
                @using (Html.BeginForm("AddTicketComment", "Comments", new { ticketId = item.Id }, FormMethod.Post, null))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="">
                        @Html.TextArea("content", "")
                        @Html.HiddenFor(modelItem => item.Id)
                    </div>
                    <div>
                        <button type="submit" class="submitButton"><p class="link"> Add Comment </p></button>
                    </div>
                }
            </td>
            <td>
                @foreach (var attachment in item.TicketAttachments)
                {
                    <p><b>Description: </b>@attachment.Description</p>
                    <p><b>Added By: </b>@attachment.User.Email</p>
                    <button class="submitButton" type="button" style="font-size:12px;padding:2px;">
                        <p class="link">
                            @Html.ActionLink("Edit Attachment", "EditAttachment", "Attachments", new { id = attachment.Id }, new { style = "color: white;text-decoration:none" })
                        </p>
                    </button>
                    <button class="submitButton" type="button" style="font-size: 12px;padding: 2px;">
                        <p class="link">
                            @Html.ActionLink("Delete Attachment", "DeleteAttachment", "Attachments", null, new { style = "color: white;text-decoration:none" })
                        </p>
                    </button>
                }
            </td>
            <td>
                <div class="dropdown">
                    <button class="dropbtn"><i class="fas fa-caret-square-down fa-2x"></i></button>
                    <div class="dropdown-content">
                        <a class="" href="@Url.Action("Edit", "Tickets", new { id = item.Id})">Edit</a>
                        <a class="" href="@Url.Action("Details", "Tickets", new { id = item.Id})">Details</a>
                        <a href="@Url.Action("AddAttachmentToTicket", "Attachments", new { id = item.Id })">Add Attachment</a>
                        @if (ViewBag.Roles.Contains("Project Manager") || ViewBag.Roles.Contains("Admin"))
                        {
                            <a class="" href="@Url.Action("AssignDeveloperToTicket", "Tickets", new { id = item.Id })">Assign Developer</a>
                            <a class="" href="@Url.Action("UpdateStatus", "Tickets", new { id = item.Id })">Update Status</a>
                        }
                    </div>
                </div>
            </td>
        </tr>
    }
</table>

@Html.PagedListPager(Model, i => Url.Action("AllTickets", "Tickets", new { i }))