@model IEnumerable<BugTracker.Models.Ticket>

@{
    ViewBag.Title = "AllTickets";
    var tickets = Model;
}

<h2>All Tickets</h2>
      
@if (ViewBag.Role == "Submitter")
{
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    tickets = Model.Where(m => m.OwnerUserId == ViewBag.userID).ToList();
  }

@if (ViewBag.Role == "Project Manager" || ViewBag.Role == "Developer")
{
    <p>
        @Html.ActionLink("View Tickets By Assigned Project", "AllTicketsByProjectForDevelopersAndProjectManagers")
    </p>
    tickets = Model.Where(m => m.AssignedToUserId == ViewBag.userID).ToList();
}

<table class="table">
    <tr>
        <th>
            @Html.DisplayName("Developer Email")
        </th>
        <th>
            @Html.DisplayName("Submitter Email")
        </th>
        <th>
            @Html.DisplayName("Project Name")
        </th>
        <th>
            @Html.DisplayName("Ticket Priority")
        </th>
        <th>
            @Html.DisplayName("Ticket Status")
        </th>
        <th>
            @Html.DisplayName("Ticket Type")
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Created)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Updated)
        </th>
        <th></th>
    </tr>

    @foreach (var item in tickets)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.AssignedToUser.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OwnerUser.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Project.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TicketPriority.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TicketStatus.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TicketType.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Created)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Updated)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id }) |
                @if (ViewBag.Role == "Project Manager" || ViewBag.Role == "Admin")
                {
                    @Html.ActionLink("Assign Developer", "AssignDeveloperToTicket", new { id = item.Id })
                    <br />
                    @Html.ActionLink("Update Status", "UpdateStatus", new { id = item.Id })
                }
            </td>
        </tr>
    }

</table>


