@model BugTracker.Models.Ticket

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Ticket</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Assigned Developer
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AssignedToUser.Email)
        </dd>

        <dt>
            Ticket Owner
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OwnerUser.Email)
        </dd>

        <dt>
            Project Name
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Project.Name)
        </dd>

        <dt>
           Ticket Priority
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TicketPriority.Name)
        </dd>

        <dt>
            Ticket Status
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TicketStatus.Name)
        </dd>

        <dt>
            Ticket Type
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TicketType.Name)
        </dd>

        <dt>
            Ticket Title
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Created)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Created)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Updated)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Updated)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TicketHistories)
        </dt>

        <dd>
            <table class="table">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.TicketHistories.First().Ticket.Title)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.TicketHistories.First().User.Email)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.TicketHistories.First().Property)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.TicketHistories.First().OldValue)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.TicketHistories.First().NewValue)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.TicketHistories.First().Changed)
                    </th>
                </tr>

                @foreach (var item in Model.TicketHistories)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Ticket.Title)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.User.Email)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Property)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.OldValue)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.NewValue)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Changed)
                        </td>
                    </tr>
                }
            </table>
        </dd>

    </dl>
</div>
<div class="creat">
    <button class="submitButton" type="button">
        <p class="link">
            @Html.ActionLink("Edit", "Edit", new { id = Model.Id }, new { style = "color: white;text-decoration:none" })
        </p>
    </button>
    <button class="submitButton" type="button">
        <p class="link">
            @Html.ActionLink("Back to List", "Index", null, new { style = "color: white;text-decoration:none" })
        </p>
    </button>
</div>