@model IEnumerable<BugTracker.Models.Project>

@{
    ViewBag.Title = "AllProjects";
}

<h2>AllProjects</h2>

<div class="nav1">
    @if (ViewBag.Roles.Contains("Project Manager") || ViewBag.Roles.Contains("Admin"))
    {
        <div class="creat">
            <button class="submitButton" type="button">
                <p class="link">
                    @Html.ActionLink("Create New Project", "Create", "Projects", null, new { style = "color: white;text-decoration:none" })
                </p>
            </button>
        </div>
        <div class="creat">
            <button class="submitButton" type="button">
                <p class="link">
                    @Html.ActionLink("View All Projects", "Index", "Projects", null, new { style = "color: white;text-decoration:none" })
                </p>
            </button>
        </div>
    }
    @if (ViewBag.Roles.Contains("Submitter"))

    {
        <div class="creat">
            <button class="submitButton" type="button">
                <p class="link">
                    @Html.ActionLink("Create New Ticket", "Create", "Tickets", null, new { style = "color: white;text-decoration:none" })
                </p>
            </button>
        </div>
    }
</div>
<br />
@foreach (var item in Model)
{
    <h3 style="text-decoration:underline">Project:</h3>
    <table class="table">
        <tr>
            <th>
                Project Name
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProjectUsers)
            </th>
            <th>Menu</th>
        </tr>
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @foreach (var user in item.ProjectUsers)
                {
                    <i class="fas fa-circle" style="margin-right:10px;font-size:10px;"></i>@Html.DisplayFor(modelItem => user.User.UserName)
                    <br />
                }
            </td>

            @if (ViewBag.Roles.Contains("Project Manager") || ViewBag.Roles.Contains("Admin"))
            {
                <td>
                    <div class="dropdown">
                        <button class="dropbtn2"><i class="fas fa-caret-square-down fa-2x"></i></button>
                        <div class="dropdown-content-two">
                            <a class="" href="@Url.Action("Edit", "Projects", new { id = item.Id })">Edit</a>
                            <a class="" href="@Url.Action("Details", "Projects", new { id = item.Id })">Details</a>
                            <a class="" href="@Url.Action("Delete", "Projects", new { id = item.Id })">Delete</a>
                            <a class="" href="@Url.Action("AssignUserToProject", "Projects")">Assign User</a>
                            <a class="" href="@Url.Action("UnAssignUserFromProject", "Projects", new { projectId = item.Id })">Unassign User</a>
                        </div>
                    </div>
                </td>
            }
        </tr>
    </table>
    <h3 style="text-decoration:underline">Tickets:</h3>
    <table class="table">
        <tr>
            <th>
                Assigned User
            </th>
            <th>
                Ticket Creator
            </th>
            <th>
                @Html.DisplayName("Project")
            </th>
            <th>
                @Html.DisplayName("Priority")
            </th>
            <th>
                @Html.DisplayName("Status")
            </th>
            <th>
                @Html.DisplayName("Type")
            </th>
            <th>
                @Html.DisplayName("Title")
            </th>
            <th>
                @Html.DisplayName("Description")
            </th>
            <th>
                @Html.DisplayName("Created")
            </th>
            <th>
                @Html.DisplayName("Updated")
            </th>
            <th>Menu</th>
        </tr>

        @foreach (var ticket in item.Tickets)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => ticket.AssignedToUser.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => ticket.OwnerUser.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => ticket.Project.Name)
                </td>
                <td style="color:white" )>
                    <div class="tag">@Html.DisplayFor(modelItem => ticket.TicketPriority.Name)</div>
                </td>
                <td style="color:white">
                    <div class="tag">@Html.DisplayFor(modelItem => ticket.TicketStatus.Name)</div>
                </td>
                <td style="color:white">
                    <div class="tag">@Html.DisplayFor(modelItem => ticket.TicketType.Name)</div>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => ticket.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => ticket.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => ticket.Created)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => ticket.Updated)
                </td>

                @if (ViewBag.Roles.Contains("Project Manager") || ViewBag.Roles.Contains("Admin"))
                {
                    <td>
                        <div class="dropdown">
                            <button class="dropbtn"><i class="fas fa-caret-square-down fa-2x"></i></button>
                            <div class="dropdown-content">
                                <a class="" href="@Url.Action("Edit", "Tickets", new { id = item.Id})">Edit</a>
                                <a class="" href="@Url.Action("Details", "Tickets", new { id = item.Id})">Details</a>
                                <a class="" href="@Url.Action("Delete", "Tickets", new { id = item.Id})">Delete</a>
                                @if (ViewBag.Roles.Contains("Project Manager") || ViewBag.Roles.Contains("Admin"))
                                {
                                    <a class="" href="@Url.Action("AssignDeveloperToTicket", "Tickets", new { id = item.Id })">Assign Developer</a>
                                    <a class="" href="@Url.Action("UpdateStatus", "Tickets", new { id = item.Id })">Update Status</a>
                                }
                            </div>
                        </div>
                    </td>
                }
            </tr>
        }
    </table>
    <hr style="height:2px;border:none;color:#333;background-color:#333" />
}

